<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Starter Template - Materialize</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="assets/css/flaticon.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  </head>
  <body ng-app="myApp">
    <nav class="green" role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="index.html">Home</a></li>
        <li><a href="profile.html">My profile</a></li>
        <li class="active"><a href="messages.html">Messages</a></li>
        <li><a href="sessions.html">Sessions</a></li>
        <li><a href="signin.html">Logout</a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">menu</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="container" ng-controller="mainCtrl">
    <div class="row">
        <div class="s12 col">
            <h3>Filter Select List</h3>
            <h5>With Bottom Modal on MaterializeCSS + AngularJS</h5>
            <br>
            <form class="forms forms-inline input-field ">
                <input type="text" class="input-big width-50" id="query" ng-model="query">
                <label for="query">Filter</label>
            </form>
            <ul class="collection">
                <li class="collection-item avatar animated fadeInUp" style="-webkit-animation-duration:{{$index * 300}}ms" ng-repeat="u in users | filter:query | orderBy:'user.username'">
                    <a href="" ng-click="modalDetails(u.user)" class="modal-trigger title"><img ng-src="{{u.user.picture.thumbnail}}" alt="" class="circle"> {{u.user.username}}</a>
                    <p>{{u.user.location.city}}, {{u.user.location.state}}</p>
                    <a href="#!" class="secondary-content" ng-click="removeUser(u)"><i class="small mdi-action-highlight-remove"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div id="modalDetails" class="modal bottom-sheet">
        <div class="modal-content">
            <div class="row">
                <div class="l2 col">
                    <img ng-src="{{user.picture.medium}}" alt="" class="align-right circle">
                </div>
                <div class="l10 col">
                    <h2>{{user.username}}</h2>
                    <label>Email</label> {{user.email}} <br/>
                    <label>Password</label> {{user.password}}
                    <hr>
                    <label>Phone</label> {{user.phone}} <br/>
                    <label>Location</label> {{user.location.city}}, {{user.location.state}} <br/>
                </div>
            </div>
        </div>
    </div>
</div>
  <footer class="page-footer green">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="assets/js/materialize.js"></script>
  <script src="assets/js/cards.js"></script>
  <script src="node_modules/angular/angular.js"></script>
  <script src="assets/js/init.js"></script>
</body>
</html>